section{
    width: 95%;
    margin: auto;
    overflow: auto;
    height: 88%;
}
a{
    position: fixed;
    right: 5px;
    bottom: 45px;
    width: 40px;
    height: 40px;
}
.mat-card-title{
    font-size: 16px;
}
.mat-card-subtitle{
    font-size: 12px;
}
.material-icons{
    font-size: 20px;
}
mat-card{
    margin-top:10px;
    background: rgba(0, 0, 0, 0.36);
}
mat-card button.mat-button{
    min-width:85px;
}